basic_auth_header uses the wrong flavor of base64

I have reason to believe that `basic_auth_header` is wrong in using `urlsafe_b64encode` (which replaces `+/` with `-_`) instead of `b64encode`.

The first specification of HTTP basic auth according to [Wikipedia](https://en.wikipedia.org/wiki/Basic_access_authentication) is [HTTP 1.0](https://www.w3.org/Protocols/HTTP/1.0/spec.html#BasicAA), which does not mention any special flavor of base64, and points for a definition of base64 to RFC-1521, which [describes regular base64](https://datatracker.ietf.org/doc/html/rfc1521). The latest HTTP basic auth specification according to Wikipedia is [RFC-7617](https://datatracker.ietf.org/doc/html/rfc7617), which similarly does not specify any special flavor of base64, and points to [section 4 of RFC-4648](https://datatracker.ietf.org/doc/html/rfc4648#section-4), which also describes the regular base64.

I traced the origin of this bug, and it has been there [at least since the first Git commit of Scrapy](https://github.com/scrapy/scrapy/blame/b45d87d0fe313458d03cd533dee2d3d03e057a04/scrapy/trunk/scrapy/http/request.py#L82).

```python
>>> from w3lib.http import basic_auth_header
```

Actual:

```python
>>> basic_auth_header('aa~aa¿', '')
b'Basic YWF-YWG_Og=='
```

Expected:

```python
>>> basic_auth_header('aa~aa¿', '')
b'Basic YWF+YWG/Og=='
```

I believe this bug only affects ASCII credentials that include the `>`, `?` or `~` characters in certain positions.

For richer encodings like UTF-8, which is what `basic_auth_header` uses (~~and makes sense as a default, but it should be configurable~~ [rightly so](https://datatracker.ietf.org/doc/html/rfc7617#section-2.1)), many more characters can be affected (e.g. `¿` in the example above).